DATABASE_URL=postgresql://postgres:root@localhost:5432/parcial2_db
SECRET_KEY=clave-super-secreta-minimo-32-caracteres-aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
FRONTEND_STORE_URL=http://localhost:5173
FRONTEND_ADMIN_URL=http://localhost:5174