DATABASE_URL=postgresql://postgres:root@localhost:5432/parcial2_db
SECRET_KEY=clave-super-secreta-minimo-32-caracteres-aqui
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
FRONTEND_STORE_URL=http://localhost:5173
FRONTEND_ADMIN_URL=http://localhost:5174

MP_ACCESS_TOKEN=TEST-xxxx
MP_PUBLIC_TEST=TEST-xxxx
MP_NOTIFICATION_URL=https://tu-ngrok.ngrok.io/api/v1/pagos/webhook

CLOUDINARY_CLOUD_NAME=mi-cloud-name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmn